// Variables

// Gray and Brand Colors for use across theme

$theme-primary:    #11b94a;
$theme-danger:     #e74c3c;

$gray-base:			#04582a ;
$gray-darker:		lighten($gray-base, 13.5%) !default;
$gray-dark:			lighten($gray-base, 20%) !default;
$gray:				  lighten($gray-base, 33.5%) !default;
$gray-light:		lighten($gray-base, 10%) !default;
$text-read:  #787777;
$gray-lighter:	lighten($text-read, 5%) !default;
