/* line 9, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 14, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.text-muted {
  color: #787777;
}

/* line 18, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.text-primary {
  color: #11b94a;
}

/* line 22, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
p {
  font-size: 14px;
  line-height: 1.75;
}

/* line 27, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
p.large {
  font-size: 16px;
}

/* line 31, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}

/* line 39, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
a {
  color: #11b94a;
}

/* line 43, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
a:hover,
a:focus,
a:active,
a.active {
  color: yellow;
  text-decoration: none;
}

/* line 51, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Helvetica Neue", "museo",   Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

/* line 56, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.img-centered {
  margin: 0 auto;
}

/* line 60, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.bg-light-gray {
  background-color: white;
}

/* line 64, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.bg-darkest-gray {
  background-color: #079a49;
}

/* line 68, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.bg-alamat {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
}

/* line 75, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.btn-primary {
  color: white;
  background-color: #11b94a;
  border-color: #11b94a;
  font-family: "Montserrat", "Helvetica Neue", "museo",   Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

/* line 10, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/_mixins.scss */
.btn-primary:focus, .btn-primary.focus {
  color: white;
  background-color: #0d8a37;
  border-color: #06441b;
}

/* line 16, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/_mixins.scss */
.btn-primary:hover {
  color: white;
  background-color: #0d8a37;
  border-color: #0c8134;
}

/* line 21, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/_mixins.scss */
.btn-primary:active, .btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  color: white;
  background-color: #0d8a37;
  border-color: #0c8134;
}

/* line 28, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/_mixins.scss */
.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus,
.open > .btn-primary.dropdown-toggle:hover,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle.focus {
  color: white;
  background-color: #0a6a2a;
  border-color: #06441b;
}

/* line 36, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/_mixins.scss */
.btn-primary:active, .btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  background-image: none;
}

/* line 44, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/_mixins.scss */
.btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #11b94a;
  border-color: #11b94a;
}

/* line 52, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/_mixins.scss */
.btn-primary .badge {
  color: #11b94a;
  background-color: white;
}

/* line 81, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.btn-xl {
  color: white;
  background-color: #11b94a;
  border-color: #11b94a;
  font-family: "Montserrat", "Helvetica Neue", "museo",   Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}

/* line 10, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/_mixins.scss */
.btn-xl:focus, .btn-xl.focus {
  color: white;
  background-color: #0d8a37;
  border-color: #06441b;
}

/* line 16, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/_mixins.scss */
.btn-xl:hover {
  color: white;
  background-color: #0d8a37;
  border-color: #0c8134;
}

/* line 21, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/_mixins.scss */
.btn-xl:active, .btn-xl.active,
.open > .btn-xl.dropdown-toggle {
  color: white;
  background-color: #0d8a37;
  border-color: #0c8134;
}

/* line 28, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/_mixins.scss */
.btn-xl:active:hover, .btn-xl:active:focus, .btn-xl:active.focus, .btn-xl.active:hover, .btn-xl.active:focus, .btn-xl.active.focus,
.open > .btn-xl.dropdown-toggle:hover,
.open > .btn-xl.dropdown-toggle:focus,
.open > .btn-xl.dropdown-toggle.focus {
  color: white;
  background-color: #0a6a2a;
  border-color: #06441b;
}

/* line 36, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/_mixins.scss */
.btn-xl:active, .btn-xl.active,
.open > .btn-xl.dropdown-toggle {
  background-image: none;
}

/* line 44, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/_mixins.scss */
.btn-xl.disabled:hover, .btn-xl.disabled:focus, .btn-xl.disabled.focus, .btn-xl[disabled]:hover, .btn-xl[disabled]:focus, .btn-xl[disabled].focus,
fieldset[disabled] .btn-xl:hover,
fieldset[disabled] .btn-xl:focus,
fieldset[disabled] .btn-xl.focus {
  background-color: #11b94a;
  border-color: #11b94a;
}

/* line 52, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/_mixins.scss */
.btn-xl .badge {
  color: #11b94a;
  background-color: white;
}

/* line 92, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.navbar-custom {
  background-color: #079a49;
  border-color: transparent;
}

/* line 95, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.navbar-custom .navbar-brand {
  color: white;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

/* line 98, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus, .navbar-custom .navbar-brand:active, .navbar-custom .navbar-brand.active {
  color: #0d8a37;
}

/* line 105, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.98);
}

/* line 108, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.navbar-custom .navbar-toggle {
  background-color: #11b94a;
  border-color: #11b94a;
  font-family: "Montserrat", "Helvetica Neue", "museo",   Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}

/* line 114, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
  background-color: #11b94a;
}

/* line 121, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.navbar-custom .nav li a {
  font-family: "Montserrat", "Helvetica Neue", "museo",   Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}

/* line 126, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus {
  color: #11b94a;
  outline: none;
}

/* line 134, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #11b94a;
}

/* line 139, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: #0d8a37;
}

@media (min-width: 768px) {
  /* line 147, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
  .navbar-custom {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  /* line 154, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  /* line 160, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }
}

@media (min-width: 768px) {
  /* line 169, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
  .navbar-custom.affix {
    background-color: #079a49;
    padding: 10px 0;
  }
  /* line 172, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}

/* line 178, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
header {
  background-image: url("../img/portfolio/anyer.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: #abc2b7;
}

/* line 186, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}

/* line 189, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
header .intro-text .intro-lead-in {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}

/* line 196, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
header .intro-text .intro-heading {
  font-family: "Montserrat", "Helvetica Neue", "museo",   Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  margin-bottom: 25px;
  color: #232825;
}

@media (min-width: 768px) {
  /* line 209, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  /* line 212, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
  header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  /* line 219, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
  header .intro-text .intro-heading {
    font-family: "Montserrat", "Helvetica Neue", "museo",   Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 50px;
    line-height: 65px;
    margin-bottom: 30px;
  }
}

/* line 232, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
section {
  padding: 100px 0;
}

/* line 234, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
section h2.section-heading {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 15px;
  color: grey;
}

/* line 240, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
section h3.section-subheading {
  font-size: 20px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}

/* line 250, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.intro-heading2 {
  font-size: 70px;
  color: #21f2b3;
  color: white;
  text-shadow: #5b605c;
  font-weight: 700;
}

@media (min-width: 768px) {
  /* line 260, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
  section {
    padding: 35px 0;
  }
}

/* line 267, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

/* line 275, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
#portfolio .portfolio-item {
  margin: 20px 0 15px;
  right: 0;
}

/* line 278, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

/* line 283, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(17, 185, 74, 0.1);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}

/* line 293, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

/* line 296, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}

/* line 305, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

/* line 308, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

/* line 315, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 25px;
}

/* line 321, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0;
}

/* line 325, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}

/* line 333, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
#portfolio * {
  z-index: 2;
}

@media (min-width: 767px) {
  /* line 340, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

/* line 348, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}

/* line 352, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #f1f1f1;
  left: 40px;
  margin-left: -1.5px;
}

/* line 362, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.timeline > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px;
}

/* line 366, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}

/* line 371, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.timeline > li:after {
  clear: both;
}

/* line 374, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.timeline > li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
}

/* line 380, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

/* line 386, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

/* line 393, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.timeline > li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color: #11b94a;
  color: white;
  border-radius: 100%;
  border: 7px solid #f1f1f1;
  text-align: center;
}

/* line 405, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.timeline > li .timeline-image h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 14px;
}

/* line 411, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
}

/* line 415, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

/* line 421, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

/* line 428, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.timeline > li:last-child {
  margin-bottom: 0;
}

/* line 433, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

/* line 436, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

/* line 442, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  /* line 451, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
  .timeline:before {
    left: 50%;
  }
  /* line 454, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }
  /* line 457, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
  .timeline > li .timeline-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  /* line 463, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
  .timeline > li .timeline-image {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
  }
  /* line 468, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    margin-top: 16px;
    line-height: 18px;
  }
  /* line 474, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 30px 20px 20px;
  }
}

@media (min-width: 992px) {
  /* line 485, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
  .timeline > li {
    min-height: 150px;
  }
  /* line 487, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  /* line 490, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  /* line 494, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    margin-top: 30px;
    line-height: 26px;
  }
  /* line 500, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}

@media (min-width: 1200px) {
  /* line 509, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
  .timeline > li {
    min-height: 170px;
  }
  /* line 511, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  /* line 514, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  /* line 518, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  /* line 522, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

/* line 531, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.team-member {
  text-align: center;
  margin-bottom: 50px;
}

/* line 534, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.team-member img {
  margin: 0 auto;
  border: 7px solid white;
}

/* line 538, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

/* line 543, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.team-member p {
  margin-top: 0;
}

/* line 551, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
aside.clients img {
  margin: 50px auto;
}

/* line 558, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
section#contact {
  background-color: #079a49;
  background-image: url("../img/portfolio/9.png");
  background-position: center;
  background-repeat: no-repeat;
}

/* line 563, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
section#contact .section-heading {
  color: white;
}

/* line 566, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
section#contact .form-group {
  margin-bottom: 25px;
}

/* line 568, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 10px;
}

/* line 572, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
section#contact .form-group input.form-control {
  height: 50px;
}

/* line 575, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
section#contact .form-group textarea.form-control {
  height: 180px;
}

/* line 579, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
section#contact .form-control:focus {
  border-color: #11b94a;
  box-shadow: none;
}

/* line 583, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
section#contact ::-webkit-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", "museo",   Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #858484;
}

/* line 588, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
section#contact :-moz-placeholder {
  /* Firefox 18- */
  font-family: "Montserrat", "Helvetica Neue", "museo",   Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #858484;
}

/* line 593, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
section#contact ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Montserrat", "Helvetica Neue", "museo",   Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #858484;
}

/* line 598, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
section#contact :-ms-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", "museo",   Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #858484;
}

/* line 603, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
section#contact .text-danger {
  color: #e74c3c;
}

/* line 610, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
footer {
  padding: 25px 0;
  text-align: center;
}

/* line 613, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", "museo",   Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}

/* line 618, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", "museo",   Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}

/* line 628, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
ul.social-buttons {
  margin-bottom: 0;
}

/* line 631, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
ul.social-buttons li a {
  display: block;
  background-color: #079a49;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 644, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
  background-color: #11b94a;
}

/* line 653, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}

/* line 661, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.portfolio-modal .modal-dialog {
  margin: 0;
  height: 100%;
  width: auto;
}

/* line 666, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}

/* line 675, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}

/* line 679, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}

/* line 682, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
}

/* line 688, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}

/* line 692, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}

/* line 696, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

/* line 704, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

/* line 707, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #079a49;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}

/* line 718, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #079a49;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}

/* line 731, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}

/* line 739, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
::-moz-selection {
  text-shadow: none;
  background: #11b94a;
}

/* line 744, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
::selection {
  text-shadow: none;
  background: #11b94a;
}

/* line 749, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
img::selection {
  background: transparent;
}

/* line 753, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
img::-moz-selection {
  background: transparent;
}

/* line 757, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
body {
  webkit-tap-highlight-color: #11b94a;
}

/* line 767, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.panel-default > .panel-heading {
  color: white;
  background-color: #079a49;
  border-color: #04582a;
  width: 100%;
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  object-fit: cover;
}

/* line 781, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
#headingOne {
  background-image: url("../img/portfolio/pexels-photo-261577.jpeg");
}

/* line 785, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
#headingOne a {
  line-height: 300px;
  background-color: rgba(208, 230, 215, 0.8);
  display: block;
  height: 80px;
  padding: 0;
  position: relative;
  vertical-align: center;
}

/* line 795, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.text-muted2 {
  color: white;
}

/* line 799, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.text-muted3 {
  color: #696969;
  font-size: 10px;
}

/* line 804, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.section-subheading2 {
  text-transform: lowercase;
}

/* line 809, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.form-control {
  opacity: .8;
}

/* line 813, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.form-control:hover,
.form-control:focus {
  opacity: 1;
}

/* line 823, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.carousel-fade .carousel-inner .item {
  transition-property: opacity;
}

/* line 827, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}

/* line 833, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

/* line 839, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}

/* line 848, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.carousel-fade .carousel-control {
  z-index: 2;
}

/* line 854, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/* line 866, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.item:nth-child(1) {
  background-image: url("../img/portfolio/anyer.jpg");
}

/* line 870, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.item:nth-child(2) {
  background-image: url("../img/portfolio/pexels-photo-48606.jpeg");
}

/* line 874, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.item:nth-child(3) {
  background-image: url("../img/portfolio/pexels-photo-66134.jpeg");
}

/* line 878, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.img-potong {
  width: 212px;
  height: 212px;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 auto;
  object-fit: cover;
}

/* line 887, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.contact-infos {
  line-height: 20px;
}

/* line 891, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
ul, ol {
  list-style: none;
}

/* line 895, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.map-holder iframe {
  width: 100%;
  height: 335px;
}

/* accordion styles */
/* Vertical Accordion Style */
/* line 903, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.va-container {
  position: relative;
  margin: 40px auto 0 auto;
}

/* line 907, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.va-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: #000;
}

/* line 914, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.va-slice {
  cursor: pointer;
  position: absolute;
  width: 100%;
  left: 0px;
  overflow: hidden;
}

/* line 921, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.va-slice-1 {
  background: #000 url(../img/portfolio/clouds-cloudy-agriculture-farm.jpg) no-repeat center center;
}

/* line 925, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.va-slice-2 {
  background: #000 url(../img/portfolio/pexels-photo-261577.jpeg) no-repeat center center;
}

/* line 928, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.va-slice-3 {
  background: #000 url(../img/portfolio/pexels-photo-48606.jpeg) no-repeat center center;
}

/* line 931, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.va-slice-4 {
  background: #000 url(../img/portfolio/pexels-photo-164452.jpeg) no-repeat center center;
}

/* line 934, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.va-slice-color-1 {
  background-color: #97c5eb;
}

/* line 937, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.va-slice-color-2 {
  background-color: #68ace5;
}

/* line 940, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.va-slice-color-3 {
  background-color: #0072cf;
}

/* line 943, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.va-slice-color-4 {
  background-color: #0039a6;
}

/* line 946, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.va-title {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 1px #04260d;
  line-height: 30px;
}

/* line 957, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.va-content {
  margin: 0;
  padding: 50px;
  text-align: justify;
}

/* line 963, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.va-slice p {
  font-size: 22px;
  font-style: italic;
  font-family: Georgia, serif;
  color: cornsilk;
  font-family: 'Roboto', sans-serif;
}

/* line 970, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.va-slice ul {
  margin-top: 20px;
}

/* line 973, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.va-slice ul li {
  float: left;
  margin: 0px 2px;
}

/* line 977, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.va-slice ul li a {
  color: #000;
  background: #eede2f;
  padding: 3px 6px;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
}

/* line 985, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.va-slice ul li a:hover {
  background: #000;
  color: #fff;
  text-shadow: none;
}

/* line 990, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.va-nav span {
  width: 40px;
  height: 25px;
  background: transparent url(../img/prev.png) no-repeat center center;
  position: absolute;
  top: -35px;
  left: 50%;
  margin-left: -20px;
  text-indent: -9000px;
  opacity: 0.7;
  cursor: pointer;
  display: none;
  z-index: 100;
}

/* line 1004, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.va-nav span.va-nav-next {
  background-image: url(../img/next.png);
  top: auto;
  bottom: -35px;
}

/* line 1009, /Users/roliesdonald/Documents/job/coconut-2/cocoleisure/scss/agency.scss */
.va-nav span:hover {
  opacity: 1.0;
}

/*# sourceMappingURL=../style/agency.map */